body {
  font-size: large;
  margin: 5%;
  max-width: 1000px;
}
h1 {
  font-size:xx-large;
}
h2 {
  font-size: x-large;
}

img {
    max-width: 100%;
}

figure {
    margin: 5%;
}

@media screen and (min-width: 600px) {
  #gallery {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    flex-basis: 45%;
    margin: 10px;
  }
  body {
    background: wheat;
    font-size: x-large;
  }
}