label {
    margin: 10px 0px;
    display: flex;
}

fieldset {
    border-radius: 30px;
    background-color:beige;
    padding: 10px;

}

#name {
    flex: 1 500px;
}

body {
    background-color: darkseagreen;
}